*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
	background-image: linear-gradient(rgba(0, 0, 0, 0.322),rgba(0, 0, 0, 0.212)),url(../images/background.png);	
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: cover;

}

.profile h1{
    padding-top: 10%;
    text-align: left;
    color: #fff;
    font-size: 60px;
	margin-top: 30%;
    margin-left: 20%;
}

.profile h3{

	color: #fff;
	font-size: 20px;
	font-style: oblique;
	font-weight: lighter;
	margin-top: 3%;
    margin-left: 20%;
}

.course{
    background-color: rgba(255, 255, 255, 0.373);
    border-radius: 15px;
}
/* 
.contact h1{
    padding-top: 15px;
    text-align: left;
    color: #fff;
    font-size: 60px;
	margin-top: 25%;
    margin-left: 20%;
    margin-bottom: 4%;
}

.contact h3{

	color: #fff;
	font-size: 23px;
	font-weight: lighter;
    margin-left: 22%;
}

.box{
	align-items: baseline;
	width:410px;
	height: 60px;
	padding: 0;
    margin-top: 5%;
	margin-left: 22%;
}

.sosmed{
	
	width: 70px;
	padding-right: 25px;
	-webkit-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.sosmed:hover{
	opacity: 50%;
}
 */

